/SupermercadosRPC/PersistenciaSupermercadosDominio/dist/
/SupermercadosRPC/PersistenciaSupermercadosDominio/nbproject/private/
/ConsumidoresRPC/ConsumidoresRPC/nbproject/private/
/ConsumidoresRPC/PersistenciaConsumidores/nbproject/private/
/SupermercadosRPC/PersistenciaSupermercados/nbproject/private/
/SupermercadosRPC/SupermercadosRPC/nbproject/private/
/ConsumidoresRPC/ConsumidoresRPC/build/
/ConsumidoresRPC/PersistenciaConsumidores/dist/
/ConsumidoresRPC/PersistenciaConsumidores/build/
/SupermercadosRPC/PersistenciaSupermercados/build/
/SupermercadosRPC/SupermercadosRPC/build/
/SupermercadosRPC/PersistenciaSupermercadosDominio/build/
/SupermercadosRPC/PersistenciaSupermercados/dist/
