/AplicacionWEB/nbproject/private/
/castigos-multas/nbproject/private/
/PersistenciaSupermercadosDominio/nbproject/private/
/PersistenciaSupermercadosDominio/dist/
/PersistenciaSupermercados/dist/
/SupermercadosRPC/dist/
/PersistenciaProfecoDominio/nbproject/private/
/PersistenciaProfecoDominio/build/
/PersistenciaProfecoDominio/dist/
/PersistenciaProfeco/nbproject/private/
/PersistenciaProfeco/build/
/PersistenciaProfeco/dist/
/ProfecoRPC/nbproject/private/
/ProfecoRPC/build/
/PersistenciaConsumidoresDominio/build/
/PersistenciaConsumidoresDominio/dist/
/PersistenciaConsumidoresDominio/nbproject/private/
/PersistenciaSupermercados/src/META-INF/persistence.xml
/PersistenciaConsumidores/src/META-INF/persistence.xml
/ConsumidoresRPC/dist/
